<div [style]="{ fontSize: fontSize + 'pt', color: color }">類型:{{type}}</div>
<div>Task 1 - {{content}}</div>
<div>代辦事項狀態 : {{state}}</div>

<button type = "button"
        [disabled]="state === 'None'"
        (click)="onSetState('None')">
        未安排
</button>

<button type = "button"
        [disabled]="state === 'Doing'"
        (click)="onSetState('Doing')">
        進行中
</button>

<button type = "button"
        [disabled]="state === 'Finish'"
        (click)="onSetState('Finish')">
        未安排
</button>

<div>代辦事項總數 : {{totalCount}}</div>
<div>已完成個數 : {{finishCount}}</div>
<div>剩下代辦事項個數 : {{totalCount - finishCount}}</div>